////
/// Variables
/// @author Victor Cruz
/// @access public
/// @group utils
////

// ---------------------------------------------------------------------------
// Prefix
// ---------------------------------------------------------------------------

/// Prefix project
$prefix-project: 'cf';

/// Prefix project to cf helpers
$prefix-helpers: $prefix-project;

// ---------------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------------

/// Base color by default
$base-color: #666;

/// Base tag a color
$base-a-color: #00aff0;

/// Font family by default
$base-font-family: ('Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif);

/// Font size by default
$base-font-size: 15px;

/// Line height by default
$base-line-height: 24px;

// ---------------------------------------------------------------------------
// Background Colors
// ---------------------------------------------------------------------------

// TODO: VCA: Set this colours.
//$primary-color    : #fff;
//$secondary-color  : #fff;
//$light-color      : #fff;
//$dark-color       : #fff;
