////
/// Base
/// @author Victor Cruz
/// @access public
/// @group base
////

body {
  color       : $base-color;
  font-family : $base-font-family;
  font-size   : $base-font-size;
  line-height : $base-line-height;
}

a {
  color : $base-a-color;
}

ul,
li {
  list-style : none;
}

input,
textarea,
button {
  border : 1px solid red;
}
